html {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#titles {
	text-align: center;
	border: 5px solid green;
}

#illustration {
	border: 5px dashed green;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#queries {
	text-indent: 15%;
}

#solution {
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
	border: 5px dotted green;
	color: blue;
}

#result {
	border: 5px solid green;
}
